body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.main-icon-size {
    height: 200px;
    width: 200px;
}

.btn-pills {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 25em;
    margin: 3px 5px;
}

.mini-icon-size {
    height: 16px;
    width: 16px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px solid;
    margin: 5px;
}

.main-menu-hover:hover {
    background-color: rgba(85, 160, 220, 0.25);
}

.watson-button {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 45px;
    margin: 20px;
    border-radius: 45%;
}

.chat-window {
    position:fixed;
    right:0;
    bottom:10px;
}

.chat-window > div > .card {
    border-radius: 5px 5px 0 0;
}

.chat-top{
    padding:5px;
    background-color:rgb(78, 35, 185);
    color:white;
}

.chat-content {
    background-color: rgba(200, 200, 200, 0.7);
    margin:0;
    padding:0 10px 10px;
    max-height:350px;
    overflow-x:hidden;
}

.chat-bottom {
    background-color: rgba(245, 245, 245, 0.7);
}

.chat-title-icon {
    margin:0px 10px;
    align-self:center;
}

.chat-close-btn{
    border-radius:50%;
}

.message-container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.messages {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.base-sent {
    justify-content: end;
    align-items: end;
}

.base-received {
    justify-content: start;
    align-items: start;
}

.message-sent {
    background: white;
}

.message-received {
    background: black;
    color: white;
}

