@{
    ViewBag.Title = "Menu Inicial";
}
<div class="row">
    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/car-compact.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Veiculos</span></h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/Driver.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Motoristas</span></h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/rent-a-car-sign.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Alugueis</span></h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/maps-and-flags.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Viagens</span></h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/Solicitacoes.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Solicitações</span></h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/">
            <div class="card main-menu-hover">
                <div class="card-body">
                    <img src="~/Content/Icones/user.png" class="img-fluid mx-auto main-icon-size rounded d-block" alt="Veiculos" />
                </div>
                <div class="card-footer">
                    <h5 class="text-center"><span class="badge badge-pill badge-dark">Meu Perfil</span></h5>
                </div>
            </div>
        </a>
    </div>
</div>