<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @RenderSection("Styles", false);
</head>
<body>
    <div class="container">
        <div class="row">
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        <div class="row" id="Footer">

        </div>
    </div>

    <script resource="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script resource="~/Scripts/jquery3.4.1.js" type="text/javascript"></script>
    @RenderSection("Scripts", false);
</body>

</html>
